.topbar__container {
  min-height: inherit;
  position: sticky;
  height: 64px !important;
  max-height: 64px !important;
}
  
  .active {
    background: #fff;
    border-color: #8FD188;
    color: #8FD188;
    font-weight: 700;
    border-width: 0 0 2px 0;
    margin: 0 0 -2px 0;
  }